.flight-header {
    color: white;
}

.flight-info {
    color: white;
}

#currencyBox {
    width: 500px;
    height: 200px;
    margin: 0px auto;
    /* border: 2px solid grey; */
    margin-top: 30px;

    background: rgba(209, 212, 143, 0.4);
     /* rgb(238, 223, 18, 0.3); */
}
h2 {
    text-align: center;
}
table {
    margin: 0px auto;
}
button {
    /* margin: 0px auto; */
    text-align: center;
    margin-top: 0px; 
    /* changed the margin to zero so the find button would fit on page */
    /* margin-left: 160px; */

}

.top_item_text {
    font-weight: bolder;
    background-color: #bebfb8;

}

#circleimg {

    border-radius: 30%;
    /* code below is for circle image, but we need to figure out the responsive */
    /* width: 500px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%; */
}

/* this code is for the converter button */
#searchButton {
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
    margin-left: 160px;

}

